{% extends "The6ixDjango/base_enh.html" %}
{% load static %}
    <link rel="stylesheet" href="{% static 'The6ixDjango/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'The6ixDjango/styles.css'%}">
{% block content %}
    <div class="container" style="margin-top: 3px">
        <h1 style="box-shadow: 0px 0px;">Card Statistics</h1>
    </div>
    <div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
                {% if form.filters.errors %}
                <div class="invalid-feedback">
                    {% for error in form.filters.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                {% for filter in form.filters %}
                    <div class="form-check">
                        {{ filter(class="form-check-input") }}
                        {{ filter.label(class="form-check-label") }}
                    </div>
                {% endfor %}
                <div class="btn-group-horizontal">
                    {{ form.sortOrder(class="btn dropdown-toggle btn-warning btn-outline-dark",type="button")}}
                    <div class="dropdown-menu">
                    {% for sort_choice in form.sortOrder.choices %}
                        <a class="dropdown-item" href="#">{{ sort_choice }}</a>
                    {% endfor %}
                    </div>
                    {{ form.submit_filters(class="btn btn-outline-primary") }}
                </div>
        </fieldset>

        <div class="table-responsive table-condensed">
            <table class="table">{{ form.cardStats | safe }}</table>
        </div>
        <h3>Card Statistics Details:</h3>
        <h6>Drawn from game analysis based upon top 1000 ranked players in selected countries.</h6>
        <h7>* Data pulled from Clash Royale API between October 12th and October 15th 2020</h7>
    </form>
</div>
{% endblock content %}