{% extends "The6ixDjango/base_enh.html" %}
{% load static %}
    <link rel="stylesheet" href="{% static 'The6ixDjango/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'The6ixDjango/styles.css' %}">
{% block content %}
    <div id="welcome_to_the_six">
        <div id="jumbotron" class="p-5 mb-4 bg-light round-3" style="background: linear-gradient(51deg, rgb(255,255,255) 0%, rgb(255,255,255) 2%, rgb(255, 93, 5) 99%, white), rgb(218,221,160);">
            <div class="container-fluid py-0" style="*padding-top: 2px; text-align: left">
                    <h2 style="box-shadow: 0px 0px;">Statistics Menu</h2>
                <hr/>
                <div class="btn-group flex-column" role="group" style="border-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;width: 50%">
                    <a class="btn btn-primary" role="button" href="{% url 'clashstats-cards' %}" style="color: rgb(0,0,0);background: rgb(223,94,240);border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;">Card Statistics</a>
                    <a class="btn btn-primary" role="button" href="{% url 'clashstats-segments' %}" style="color: rgb(0,0,0);background: rgb(245,236,89);border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;">Segment Statistics</a>
                    <a class="btn btn-primary" role="button" href="{% url 'clashstats-cardsegt' %}" style="color: rgb(0,0,0);background: rgb(0,176,255);border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;">Find a Deck by Card</a>
                    <a class="btn btn-primary" role="button" href="{% url 'clashstats-findsegt' %}" style="color: rgb(255,255,255);background: rgb(82,122,157);border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;">Find Segment for Deck</a>
                    <a class="btn btn-primary" role="button" href="{% url 'clashstats-clanrept' %}" style="color: rgb(0,0,0);background: rgb(152,255,179);border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;">View Clan Reports</a>
                    <button class="btn btn-primary" type="button" style="background: rgb(211,225,238);color: rgb(0,0,0);border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;">TBD</button>
                </div>
                <hr/>
            <p style="margin-top: 5px">Statistics regard Clash Royale decks / cards are drawn from game analysis based upon top 1000 ranked players in selected countries as of: {{ stat_date }}.</p>
            </div>
        </div>
    </div>
{% endblock content %}